.tst
  margin: 0
  padding: 0

  &-reset
    *
      margin: 0
      padding: 0

  &-item
    position: relative
    margin: 0 0 10px 10px

  &-item_content
    background: #eef
    border-radius: 3px

  &-handler
    cursor: move

  &-placeholder
    margin-left: 10px
    margin-bottom: 10px
    border-radius: 3px
    background: #4ed740

  &-sortable_error
    background: red

  &-nested_set
    margin: 10px 0 0 10px
    border-left: 1px dashed #bbb
    list-style: none outside none

    .tst-item
      margin: 0 0 10px 10px
