%p= link_to raw('&larr; back'), '/'

%p= link_to 'Create New Page', new_page_path

Count: #{ @pages.to_a.count }

%ol.sortable_tree{ data: { rebuild_url: rebuild_pages_url } }
  = sortable_tree @pages, namespace: :admin