.ma.w800
  %p.mb20= link_to raw('&larr; back'), '/'
  %p.mb20= link_to 'Create New Page', new_page_path

  .fs18.mb20
    Count: #{ @pages.to_a.count }

  %ol.the_sortable_tree{ data: { rebuild_url: rebuild_pages_url } }
    = sortable_tree @pages, namespace: :admin
