%h1 Admin::Pages#manage

%p= link_to raw('&larr; back'), '/'

%ol.the_sortable_tree{ :data => { :rebuild_url => rebuild_pages_url } }
  = build_server_tree @pages, :type => :sortable

%h2 Root:
%div= @root.inspect

%h2 Root's children:
%div= @pages.inspect