%p= link_to raw('&larr; back'), '/'

%ol.sortable_tree{ :data => { :max_levels => 3, :rebuild_url => rebuild_inventory_categories_url } }
  = build_server_tree @inventory_categories, :type => :sortable