.comments_tree{
  margin:0; padding:0;
  list-style:none;

  * {
    margin:0; padding:0;
    list-style:none;
  }

  .item{
    background: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
  }
  .nested_set{
    border-left: 1px dashed #ccc;
    padding-left: 20px;
  }
}