.sortable_tree{
  &.expandable{
    h4{
      margin-left: 50px;
    }
  }

  .expand{
    float: left;
    cursor: pointer;

    border: 1px solid lightgray;
    color: lightgray;

    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    text-align: center;
    
    width: 13px;
    height: 13px;
    margin: 3px 10px 0 0;

    &.empty{ display:none !important; }
  }
}