.nested_options{
  padding: 3px;
  font-size: 18px;
  font-family: Arial;
  border: 1px solid gray;

  option{
    color: black; padding: 3px;
    &.selected{ font-weight: bold; color: red; }
  }

  @for $i from 1 through 2{
    .l_#{$i}{
      padding-left: #{($i - 1)*15}px;
      font-size: #{(100 - $i * 10) + '%'};
    }
  }

  @for $i from 3 through 10{
    .l_#{$i}{
      padding-left: #{($i - 1)*15}px;
      font-size: 70%;
    }
  }
}