.sortable{
  margin: 0;
  padding: 0;
  position: relative;

  * {
    margin: 0; padding: 0;
    list-style: none;
  }

  .nested_set_new_image{
    vertical-align: middle;
    border: none;
  }

  .nested_set_new{
    margin: 25px 0;
    a{ font-size: 14pt }
  }

  .handle{
    width: 16px;
    height: 16px;
    margin: 3px 10px 0 0;
    float: left;
    cursor: move;
    background: transparent url(/assets/iconza/blue/move.png) no-repeat scroll center center;
  }

  .item{
    padding: 5px;
    &:hover{ background: #EEE; }
  }

  h4{
    a{ color: #333; }
  }

  p{
    margin-right: 75px;
    padding: 5px;
  }

  li{ position: relative; }

  .placeholder {
    background-color: #EEF;
    border: 1px dashed blue;
  }
  .ui-nestedSortable-error {
    background: #FAA;
    color: #8a1f11;
  }
  .link{
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 5px;
    margin: 0 0 5px 5px;
    background: #EFEFEF;
    border-radius: 5px;
    &:hover{
      background: #FEE;
    }
  }

  .controls{
    position: absolute;
    top: 3px; right: 10px;
  }

  .button{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 0 0 0 3px;
    cursor: pointer;

    &.new{
      background: transparent url(/assets/iconza/blue/add.png) no-repeat scroll center center;
      &:hover{ background: transparent url(/assets/iconza/red/add.png) no-repeat scroll center center }
    }
    &.edit{
      background: transparent url(/assets/iconza/blue/edit.png) no-repeat scroll center center;
      &:hover{ background: transparent url(/assets/iconza/red/edit.png) no-repeat scroll center center }
    }
    &.delete{
      background: transparent url(/assets/iconza/blue/delete.png) no-repeat scroll center center;
      &:hover{ background: transparent url(/assets/iconza/red/delete.png) no-repeat scroll center center }
    }
    &.undeleted{ background: transparent url(/assets/iconza/gray/delete.png) no-repeat scroll center center  }
  }

  .nested_set{
    padding-left: 15px;
    list-style: none;
    font-size: 16px;

    ol{
      margin: 0 0 0 25px;
      border-left: 1px dashed gray;
      li{ margin-bottom: 5px; }
    }

    .root{
      a{ font-weight: bold; }
    }
  }
}