.sortable_tree{
  margin: 0; padding: 0;
  *{ margin: 0; padding: 0; }

  ol{
    margin: 0 0 0 13px;
    padding: 0 0 0 15px;
    border-left: 1px dashed gray;
    list-style: none outside none;
  }

  li{
    margin-bottom:5px;
    position: relative;
    list-style: none outside none;
  }

  a{
    color:#000;
    font-size:10pt;
    font-weight:normal;
    text-decoration:none;
    line-height: 150%;
    margin-left:30px;
    margin-right:120px;
    display:block;
    &:hover{ text-decoration: underline; }
  }

  h4{
    margin: 0; 
    a{
      color: #333;
      font-size: 14px;
      &:hover{ background: #eee; }
    }
  }

  p{
    margin-right: 75px;
    padding: 5px;
  }

  .handle{
    background: transparent image-url("iconza/icons/move.png");
    background-position: center center;

    width: 16px;
    height: 16px;
    margin: 3px 10px 0 0;
    float: left;
    cursor: move;

    &:hover{ background: transparent image-url("iconza/icons/red_move.png"); }
  }

  .item{
    padding: 5px;
    background: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 5px;
    &:hover{ background: #eee; }
  }

  .placeholder {
    background-color: #EEF;
    border: 1px dashed blue;
  }

  .ui-nestedSortable-error {
    background: #FAA;
    color: #8a1f11;
  }

  .controls{
    position: absolute;
    top: 1px; right: 10px;

    a{
      width: 20px;
      height: 20px;
      display: block;

      float: left;
      padding: 5px;
      cursor: pointer;
      position: relative;

      margin: 0 0 5px 5px;
      overflow: hidden; zoom: 1;

      &.new{
        background: transparent image-url("iconza/icons/add.png") no-repeat scroll center center;
        &:hover{ background: transparent image-url("iconza/icons/red_add.png") no-repeat scroll center center; }
      }
      &.edit{
        background: transparent image-url("iconza/icons/edit.png") no-repeat scroll center center;
        &:hover{ background: transparent image-url("iconza/icons/red_edit.png") no-repeat scroll center center; }
      }
      &.delete{
        background: transparent image-url("iconza/icons/delete.png") no-repeat scroll center center;
        &:hover{ background: transparent image-url("iconza/icons/red_delete.png") no-repeat scroll center center; }
      }
    }
  }
}
