ol.nested_set_min * {
  margin: 0; padding: 0;
  list-style:none;
}
ol.nested_set_min {
  list-style:none;
  font-size: 16px;
}
ol.nested_set_min li{
    font-size: 0.9em;
    line-height: 130%;
    margin-bottom: 5px;
    font-weight: bold;
    list-style:none;
    list-style-position: outside;
}
ol.nested_set_min ol{
    border-left: 1px dashed #AAA;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 5px;
}
ol.nested_set_min ol li{ font-weight: normal; }

.nested_set_min a:hover { color: #003A89 !important; }
.nested_set_min a:visited { color: #809dc4; }