.nested_set{
  padding: 0;
}
.nested_set ol{
  margin:0 0 0 25px;
  border-left:1px dashed gray;
}
.nested_set li{
  margin-bottom:5px;
}
.nested_set a{
  color:#000;
  font-size:10pt;
  font-weight:normal;
  text-decoration:none;
  line-height: 150%;
  margin-left:30px;
  margin-right:120px;
  display:block;
}
.nested_set a img{float:left;}

.nested_set .root a{
  font-weight:bold;
}
.nested_set a:hover{
  color:#2476FF;
  text-decoration:none;
}
.nested_set .handle{
  cursor: move;
}
.nested_set .link{
  position: relative;
  overflow: hidden;
  zoom:1;
  padding:5px;
  margin:0 0 5px 5px;
  background:#EFEFEF;
  -moz-border-radius:5px;
}
.nested_set .link:hover{
  background:#FEE;
}
.nested_set .controls{
  position: absolute;
  top: 5px; right: 10px;
}
.nested_set .button{
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin:0 0 0 3px;
  cursor:pointer;
}
.nested_set_new_image{
  vertical-align:middle;
  border:none;
}
.nested_set_new{
  margin:25px 0;
}
.nested_set_new a{
  font-size:14pt;
}
.nested_set .handle{
  width:16px;
  height:16px;
  float:left;
  background:transparent url(/assets/iconza/blue/move.png) no-repeat scroll center center;
}
.nested_set .placeholder {
  background-color:#EEF;
  border:1px dashed blue;
}
.nested_set .ui-nestedSortable-error {
  background:#FAA;
  color:#8a1f11;
}
.nested_set .button.new{ background:transparent url(/assets/iconza/blue/add.png) no-repeat scroll center center; }
.nested_set .button.new:hover{ background:transparent url(/assets/iconza/red/add.png) no-repeat scroll center center;}

.nested_set .button.edit{ background:transparent url(/assets/iconza/blue/edit.png) no-repeat scroll center center; }
.nested_set .button.edit:hover{ background:transparent url(/assets/iconza/red/edit.png) no-repeat scroll center center;}

.nested_set .button.up{ background:transparent url(/assets/iconza/blue/up.png) no-repeat scroll center center; }
.nested_set .button.up:hover{ background:transparent url(/assets/iconza/red/up.png) no-repeat scroll center center;}

.nested_set .button.down{ background:transparent url(/assets/iconza/blue/down.png) no-repeat scroll center center; }
.nested_set .button.down:hover{ background:transparent url(/assets/iconza/red/down.png) no-repeat scroll center center;}

.nested_set .button.delete{ background:transparent url(/assets/iconza/blue/delete.png) no-repeat scroll center center; }
.nested_set .button.delete:hover{ background:transparent url(/assets/iconza/red/delete.png) no-repeat scroll center center;}

.nested_set .button.hard_delete{ background:transparent url(/assets/iconza/gray/delete.png) no-repeat scroll center center; }
.nested_set .button.hard_delete:hover{ background:transparent url(/assets/iconza/red/delete.png) no-repeat scroll center center;}

.nested_set .undeleted{ background:transparent url(/assets/iconza/gray/delete.png) no-repeat scroll center center; }
.nested_set .cantup{ background:transparent url(/assets/iconza/gray/up.png) no-repeat scroll center center; }
.nested_set .cantdown{ background:transparent url(/assets/iconza/gray/down.png) no-repeat scroll center center; }

/*STATES*/
.nested_set .unsafe{ background:transparent url(/assets/modern/mini-icons/unsafe.png) no-repeat scroll center center; cursor: help; }
.nested_set .draft{ background:transparent url(/assets/modern/mini-icons/draft.png) no-repeat scroll center center; cursor: help;}
.nested_set .published{ background:transparent url(/assets/modern/mini-icons/publiched.png) no-repeat scroll center center; cursor: help;}
.nested_set .restricted{ background:transparent url(/assets/modern/mini-icons/restricted.png) no-repeat scroll center center; cursor: help;}
.nested_set .archived{ background:transparent url(/assets/modern/mini-icons/archived.png) no-repeat scroll center center; cursor: help;}
.nested_set .deleted{ background:transparent url(/assets/modern/mini-icons/bin.png) no-repeat scroll center center; cursor: help;}

/* Moderation states*/
.nested_set .moderation_unsafe{ background:transparent url(/assets/modern/mini-icons/moderation_unsafe.png) no-repeat scroll center center; cursor: help;}
.nested_set .moderation_safe{ background:transparent url(/assets/modern/mini-icons/shield.png) no-repeat scroll center center; cursor: help;}
.nested_set .moderation_blocked{ background:transparent url(/assets/modern/mini-icons/moderation_blocked.png) no-repeat scroll center center; cursor: help;}
