.tree{
  margin:0; padding:0;
  *{ margin: 0; padding: 0; }

  ol{
    margin: 0 0 0 13px;
    padding: 0 0 0 15px;
    border-left: 1px dashed gray;
  }

  li{
    margin-bottom:5px;
    position: relative;
  }

  a{
    color: black;
    font-size: 14px;

    &:hover {
      color: black;
      background: #ddd;
    }
  }

  .item{
    padding: 5px;
    background: #eee;
    margin-bottom: 5px;
    border-radius: 3px;
    &:hover{ background: #ddd; }
  }
}