- image=  image_tag('iconza/blue/add.png', :class => :root_create_image) + raw('&nbsp;')
- link=   link_to(image + raw(t("#{opts[:klass].pluralize}.new.create")), url_for(:controller => opts[:klass].pluralize, :action => :new))
.root_create_link= link
