%p= link_to raw('&larr; back'), '/'

%ol.the_sortable_tree{ :data => { :max_levels => 3, :rebuild_url => rebuild_article_categories_url } }
  = build_server_tree @article_categories, :type => :sortable